*{
  margin: 0;
}
body {
  background-color: lightgrey;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  
}

/* right side will be 90% */
.app_right{
  flex: 0.95;
}




.app_header{
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
  
}

.app_stats {
  display: flex;
  justify-content: space-between;
  
}


@media (max-width: 990px) {
  .app{
  flex-direction: column;
  }
}