.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    /* overflow add scroll on 400 px */
    color: #6a5d5d;
}

.table tr {
    display:flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

/* every old number in table */
.table tr:nth-of-type(odd){
    background-color:#3d3d3f;
    color:white;
}